@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,500italic,400italic");
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');

:root {

  & body {
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
  }


  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-family: Oswald, sans-serif !important;
  }

  & p {
    text-align: justify;
  }

  & a {
    color: #e68402;
    text-decoration: none;
    background-color: transparent;
  }

  & a:hover {
    color: #e68402;
    text-decoration: none;
  }

  .img-thumbnail {
    padding: 0!important;
    background-color: transparent!important;
    background-image: url("images/bg_thumb@3x.png")!important;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #dee2e6;
    border-radius: 0!important;
    width: 100%;
    height: auto;
    margin-right: 1rem!important;
    display: block!important;
  }

  .img-thumbnail-eucaim {
    padding: 0!important;
    background-color: transparent!important;
    background-image: url("images/bg_thumb@3x.png")!important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-right: 1rem!important;
  }

  .img-thumbnail-eucaim:hover{
    transform: translate(-5px,-5px);
    box-shadow: 5px 5px 0 0;
    cursor: pointer;
  }

  #navbarSupportedContent{
    justify-content: flex-end;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .btn {
    font-family: Oswald, sans-serif !important;
    text-transform: uppercase;
    color: #ffffff !important;
    border-radius: 0 !important;
    font-size: 1rem;
  }


  .btn-primary {
    color: #fff;
    background-color: #e68402 !important;
    border-color: #e68402 !important;
  }

  .btn-primary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  .btn-primary:focus, .btn-primary.focus {
    background-color: #5a6268;
    border-color: #545b62;
  }

  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    background-color: #545b62;
    border-color: #4e555b;
  }


  .btn-secondary {
    font-size: 0.6rem;
    background-color: #27326b !important;
    border-color: #27326b !important;
    cursor: auto;
  }

  .btn-secondary:hover {
    background-color: #416097 !important;
    border-color: #416097 !important;
  }

  .btn-secondary:focus, .btn-secondary.focus {
    background-color: #27326b !important;
    border-color: #27326b !important;
  }

  .btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #27326b !important;
    border-color: #27326b !important;
  }

  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    background-color: #e68402 !important;
    border-color: #e68402 !important;
  }


  .nav-link {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .navbar {
    padding: 0.5rem 5rem;
  }


  .card {
    border: 1px solid #e68402;
    border-radius: 0 !important;
    margin-bottom: 20px;
  }

  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-bottom: 0.375rem;
  }

  .page-link {
    color: #fff;
    background-color: #416097;
    border: 1px solid #fff;
  }

  .page-link:hover {
    color: #fff !important;
    background-color: #27326b !important;
    border-color: #fff !important;
  }

  .page-item.active .page-link {
    background-color: #e68402 !important;
    border-color: #fff !important;
  }

  .page-item.disabled .page-link {
    color: #416097 !important;
    border-color: #fff !important;
  }

  .bg-dark {
    background-color: #27326b !important;
  }


  .h1-bg-image {
    background-color: #416097;
    background-repeat: no-repeat;
    background-image: url("images/H1_BG_image-8.png");
    background-position: right;
    background-size: contain;
  }

  & main > .container {
    padding: 60px 15px;
  }

  & footer {
    background-color: #27326b;
  }

  .btn-profile {
    background-color: #e68402 !important;
    color: #fff;
    border: thin #ffffff solid;
  }


  .icon {
    color: #f18917;
    padding: 10px;
    margin: 4px 8px;
    border: thin #f18917 solid;
    min-width: 50px;
    text-align: center;
  }

  & ul.eucaim-list & li {
    /* Default bullets style erased */
    list-style: none;
  }

  & ul.eucaim-list & li::marker {

    /* \25AA is the CSS Code/unicode for a square */
    content: "\25AA";
    color: #f18918;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: bold;
    font-size: 2rem;
  }

  & h2:before {
    content: ".";
    background-image: url("images/BG_title@2x-8.png");
    background-repeat: no-repeat;
    background-color: #27326b;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    color: transparent;
    z-index: -1;
  }

  .title_eucaim {
    background-image: url("images/bg_img_cover_1-8.png");
    background-repeat: repeat-x;
    background-size: cover;
  }

  .fa-solid {
    color: #e68402;
  }

  .bg-title {
    background-image: url("images/BG_title@2x-8.png");
    background-repeat: no-repeat;
  }

  .page-item {
    background-color: #416097;
    color: #fff;
  }

  /* custom checkbox */

  /*** Styling Radio & Checkbox Input Fields (start here) ***/

  & label {
    font-weight: 400;
    color: #e68402;
    width: 100%;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
  }

  /* hide the browser's default checkbox */

  & input[type="radio"],
  & input[type="checkbox"] {
    display: none;
    opacity: 0;
  }

  & input[type="radio"] + label,
  & input[type="checkbox"] + label {
    line-height: 2em;
  }

  & input[type="radio"] + label {
    border-radius: 50px;
  }

  & input[type="radio"]:disabled + label,
  & input[type="checkbox"]:disabled + label {
    color: #ccc !important;
    cursor: not-allowed;
  }

  & input[type="radio"]:checked:disabled + label:after,
  & input[type="checkbox"]:checked:disabled + label:after {
    border-color: #ccc;
  }

  & input[type="radio"] + label:before,
  & input[type="checkbox"] + label:before {
    content: "";
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 0.55em;
    border: 2px solid #ccc;
    margin-top: 0.2em !important;
  }

  & input[type="radio"] + label:before {
    border-radius: 100%;
  }

  & input[type="radio"]:checked + label,
  & input[type="checkbox"]:checked + label {

  }

  & input[type="radio"]:checked + label:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid #0fbf12;
    float: left;
    margin-left: -1.85em;
    margin-top: 1em;
    border-radius: 100%;
  }

  & input[type="checkbox"]:checked + label:after {
    content: "";
    width: 12px;
    height: 8px;
    border: 3px solid #fff;
    float: left;
    color: #fff;
    margin-left: -1.95em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    transform: rotate(-55deg);
  }

  & input[type="radio"]:checked + label:before,
  & input[type="checkbox"]:checked + label:before {
    border-color: #e68402;
    background-color: #e68402;
  }

  & input[type="radio"]:checked:disabled + label,
  & input[type="checkbox"]:checked:disabled + label {
    background: #ccc;
    color: #fff !important;
  }

  & input[type="radio"]:checked:disabled + label:before,
  & input[type="checkbox"]:checked:disabled + label:before {
    border-color: #bdbdbd;
  }

  .colaps-eu {
    max-height: 150px;
    overflow-y: auto;
  }

  .image-thumbnail {
    display: block;
  }

  .home{
    & h3{

    }
  }

  .become-user, .become-data, .become-tool{

    & ul {
      margin-left: 24px;
    }

    & ul ul{
      margin-top: 10px;
      margin-left: 0;
    }

    & h5 {
      color: #27326b;
      margin-top: 10px;
      margin-bottom: 12px;
    }

    & img{
      width: 80%;
      margin: 12px auto 36px auto;
    }

  }

}

